@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif !important;
  /* 색상 설정 */
  --black-color: #1c1c1c;
  --white-color: #fdfdfd;
  --gray-color: #858585;
  --lightgray-color: #DDDDDD;
  --point-color: #4AC49E;
  --sub-color: #E7FAF7;
  --dark-color: #0D1545;
  --gradation-color: linear-gradient(
    180deg,
    rgba(74, 196, 158, 0.32) 0%,
    rgba(131, 236, 220, 0.15) 100%
  );
  --lower-color: #434FD9;
  --lightlower-color: #DDF1FF;
  --upper-color: #FF6464;
  --lightupper-color: #FFDEDE;
  --safe-color: #3AB67A;
  --middle-color: #EFDA4C;
  --danger-color: #FD5353;
}

#root {
  width: 100vh;
  height: 100vh;
  position: absolute;
  background-color: #F9F9F9;
}