.nav-area {
  display: flex;
  width: 100%;
  min-width: 1270px;
  height: 60px;
  border-bottom: 1px solid var(--black-color);
  justify-content: center;
  color: var(--white-color);
  background-color: var(--dark-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 1270px;
  align-items: center;
  padding: 0px 30px;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  font-size: 18px;
}

.site-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
}

.site-menu {
  font-size: 24px;
  margin-left: 30px;
  cursor: pointer;
}